﻿body {
    background-color: #FCFFD6;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #754d0e;
}

.form-principal {
    background: #fff;
    border: 1px solid #FFC15E;
    padding: 20px;
    /* height: 300px; */
    width: 400px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

.botao-voltar {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #a87a00;
    color: #a87a00;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao-avancar {
    background-color: #a87a00;
    border-radius: 10px;
    border: 1px solid #a87a00;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao-enviar {
    background-color: #d3aa00;
    border-radius: 10px;
    border: 1px solid #d3aa00;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textbox-layout{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a87a00;
    margin-bottom:10px;
}

.dropdown-layout{
    width: 174px;
}

.titulo-linha {
    padding-bottom: 15px;
    color: #452903;
    font-weight:600;
}

.label-aviso {
    font-weight: 700;
    color: #B3192B;
    padding-top: 15px;
}